.content {
    max-width: 1000px;
    margin: 0 auto;
    color: #1f2d59;
    font-size: 20px;
}

.ourStory {
    text-transform: uppercase;
    margin: 50px 0;
}

.team {
    position: relative;
    top: 0;
    margin-bottom: 100px;
}
.team img {
    width: 50%;
}
.right {
    text-align: right;
}

.team-txt {
    position: absolute;
    bottom: 10%;
    left: 40%;
    width: 50%;
    background-color: white;
    padding: 0 20px;
}
.right .team-txt {
    left: 30%;
    text-align: left;
    min-height: 150px;
    width: 40%;
}
.who {
    color: red;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 0;
}
.name {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}
.arrow {
    position: absolute;
    left: -15%;
    top: 0;
    width: 30% !important;
}

.partners {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.partners img {
    max-width: 13vw;
}

.networks {
    font-weight: bold;
    color: #1f2d59;
    position: relative;
    margin: 50px 0;
}
.networks img {
    width: 100vw;
}
.networks-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.networks-text p {
    margin: 0;
    font-size: 22px;
}

.networks-images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.networks-images img {
    width: 40%;
}
